.div-board {
    margin: 1rem 15px 0;
    border: solid #f7f7f9
}

.add {
    margin: 1rem 15px 0;
}
.add-button {
    margin-top: 10px;
    margin-bottom: 10px;
}
.container {
    background-image: url("bookshelf.jpg")
}
.navbars {
    background-image: red;
    height: 80px;
    width: 100%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
 
 }